
.header{
    background: #3B8686;
    text-align: center;
    min-height: 150px;
    position: relative;
}


.header-text{
    color: #e5e5e5;
    font-family: 'Francois One', sans-serif;
    font-weight: 800;
    font-size: 100px;
}

.menu{
    background: #3B8686;
    text-align: center;
    min-height: 75px;
}

.menu li{
    display: inline;
    color: #e5e5e5;
    font-family: 'Francois One', sans-serif;
    font-weight: 800;
    font-size: 50px;
    list-style-type: none;
}

.menu li a{
    color: #e5e5e5;
    text-decoration: none;
}

.menu-container{
    display: none;
}

@media screen and (max-width: 930px) {
    .menu-container {
		display: block;

		max-height: 0px;
		overflow: hidden;
		
        position: relative;
    }
	
	.is-active{
		/*display:block;*/
	
		overflow: visible;
		max-height: 400px;
		-webkit-transition: all .3s linear;
		transition: all .3s linear;
	}

    .partial-menu{
        display: block;
        background: url(../icons/ic_menu_36px.svg) no-repeat bottom right;
        padding: 15px 5px;
        position: absolute;
        right: 20px;
        bottom: 0;
		width: 40px;
    }

    .partial-items{
        background-color: #3B8686;
        width: 200px;
        height: 325px;
        color: #e5e5e5;
        position: absolute;
        right: 8px;
        top: 8px;

    }
	
	.partial-items ul{
	}

    .partial-items ul li{
        list-style-type: none;
		
		font-family: 'Francois One', sans-serif;
		font-weight: 400;
		font-size: 24px;
		
		border-bottom: 1px solid #e5e5e5;
    }
	
	.partial-items ul li:last-child{
		border-bottom: none;
	}

    .menu{
        display: none;
    }
	
	a{
		text-decoration: none;
		color: #e5e5e5;
	}
}